<form [formGroup]="form">
  <fieldset>

    <stk-email formControlName="email"></stk-email>

    <!--
      <label for="password">Password</label>
    <input name="password"
           id="password"
           type="password"
           formControlName="password"
           [attr.aria-invalid]="form.get('password')?.invalid">
    <small *ngIf="form.get('password')?.invalid">{{ form.get('password')?.errors | json }}</small>
  -->

    <stk-template formControlName="password"
                  label="Password"
                  type="password"
                  [form]="form">
    </stk-template>


    <label for="passwordConfirmation">Repeat Password</label>
    <input name="passwordConfirmation"
           type="password"
           formControlName="passwordConfirmation"
           [attr.aria-invalid]="form.get('passwordConfirmation')?.invalid">
    <small *ngIf="form.get('passwordConfirmation')?.invalid">{{
      form.get('passwordConfirmation')?.errors | json }}</small>

  </fieldset>

  <input type="button"
         value="Register me"
         [disabled]="form.invalid">
  <small *ngIf="form.invalid">{{ form?.errors | json }}</small>


</form>
