<header>
  <nav>
    <a routerLink="/">
      🚀 {{ title | uppercase }}
    </a>
    <a [routerLink]="[{ outlets : { primary:['login'] ,infoAux: ['forms'] }}]"> ➡️ Log In
    </a>
    <a [routerLink]="[{ outlets : { primary:['register'] ,infoAux: ['forms'] }}]"> 👤 Register
    </a>
    <a [routerLink]="[{ outlets : { primary:['agencies'] ,infoAux: ['routing'] }}]"> ➡️
      Agencies </a>
    <a [routerLink]="['/labs']"> 🧪 Labs </a>
    <a [routerLink]="['/trips']"> 🔎 Trips </a>
  </nav>
</header>
<hr>
