<hr>
<footer>
  <section *ngIf="pwa$ | async  as pwa">
    <pre>{{ pwa | json }}</pre>
    <button *ngIf="pwa.showReload"
            (click)="reloadApp()">♻️ Reload to update app</button>
  </section>
  <section>
    <a href="https://github.com/LabsAdemy/softtek-angular-avanzado"
       target="_blank"><strong>Code</strong></a>
    developed for training
    <em>by <a href="https://twitter.com/albertobasalo"
         target="_blank">Alberto Basalo</a></em>
  </section>
  <router-outlet name="infoAux"></router-outlet>
  <pre> {{ status$ | async | json }} </pre>
</footer>
