<article>
  <ng-container *ngIf="api$ | async as api; else loading">
    <ng-container *ngTemplateOutlet=" api.data ? data : error ; context: { api:api } ">
    </ng-container>
  </ng-container>
</article>


<ng-template #data
             let-data="api.data">
  <ng-container *ngTemplateOutlet="data.length > 0 ? list : empty ; context : { list : data } ">
  </ng-container>
</ng-template>

<ng-template #error
             let-error="api.error">
  <stk-error [dataName]="dataName"
             [error]="error"></stk-error>
</ng-template>

<ng-template #list
             let-list="list">
  <header>There are {{ list.length }} {{ dataName }}</header>
  <main>
    <ng-container [ngTemplateOutlet]="dataTemplate"
                  [ngTemplateOutletContext]="{ $implicit: list }">
    </ng-container>
  </main>
  <footer>
    <stk-refresh (refresh)="refresh.emit()"></stk-refresh>
  </footer>
</ng-template>

<ng-template #empty>
  <stk-empty [dataName]="dataName"></stk-empty>
</ng-template>

<ng-template #loading>
  <stk-loading [dataName]="dataName"></stk-loading>
</ng-template>
