<stk-async-wrapper [apiCall$]="agencies$"
                   dataName="agencies"
                   [dataTemplate]="agenciesTemplate"
                   (refresh)="loadAgencies()">
</stk-async-wrapper>
<ng-template #agenciesTemplate
             let-agenciesList="data">
  <stk-agencies [agencies]="agenciesList"></stk-agencies>
</ng-template>




<article>
  <ng-container *ngIf="trips$ | async as trips; else loading">
    <ng-container *ngIf="trips.data; else error">
      <ng-container *ngIf="trips.data.length>0; else empty">
        <header>There are {{trips.data.length}} trips</header>
        <main>
          <stk-trips [trips]="trips.data"></stk-trips>
        </main>
        <footer>
          <stk-refresh (refresh)="loadTrips()"></stk-refresh>
        </footer>
      </ng-container>
      <ng-template #empty>
        <stk-empty dataName="trips"></stk-empty>
      </ng-template>
    </ng-container>
    <ng-template #error>
      <stk-error dataName="trips"
                 [error]="trips.error || ''"></stk-error>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <stk-loading dataName="trips"></stk-loading>
  </ng-template>
</article>
