<stk-async-wrapper [apiCall$]="agencies$"
                   dataName="agencies"
                   [dataTemplate]="agenciesTemplate"
                   (refresh)="loadAgencies()">
  <ng-template #agenciesTemplate
               let-context>
    <stk-agencies [agencies]="context"></stk-agencies>
  </ng-template>
</stk-async-wrapper>

<stk-async-wrapper [apiCall$]="trips$"
                   dataName="trips"
                   [dataTemplate]="tripsTemplate"
                   (refresh)="loadTrips()">
  <ng-template #tripsTemplate
               let-context>
    <stk-trips [trips]="context"></stk-trips>
  </ng-template>
</stk-async-wrapper>
